<html>
  <head>
    <meta charset="utf-8" />
    <title>todolist</title>
  </head>
  <body>
        <h1 style="color: blue"> <%= kindofDay %> ToDo List</h1>
        <ul>
            <li>Learn Ejs</li>
            <li>Learn Algorithms</li>
            <li>DO Yoga</li>
            <li><%= newListItem %></li>

        </ul>
        <form class="" action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add</button>
        </form>
  </body>
</html>
